<div class="row">
  <div class="col-md-4">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td>Follow setup instruction and complete <a href="{{ site.pre_survey }}{{ site.github.project_title }}">pre-workshop survey</a> </td> </tr>
      <tr> <td>09:30</td>  <td>(Optional) Help with setup issues</td> </tr>
      <tr> <td>10:00</td>  <td>Introduction to using the shell in a High-Performance Computing context</td> </tr>
      <tr> <td>10:55</td>  <td>Morning break</td> </tr>
      <tr> <td>11:05</td>  <td>Introduction to using the shell in a High-Performance Computing context (Continued)</td> </tr>
      <tr> <td>11:55</td>  <td>2nd Morning break</td> </tr>
      <tr> <td>12:05</td>  <td>Introduction to using the shell in a High-Performance Computing context (Continued)</td> </tr>
      <tr> <td>12:55</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Day 2</h3>
    <table class="table table-striped">
        <tr> <td>10:00</td>  <td>Introduction to using the shell in a High-Performance Computing context (Continued)</td> </tr>
        <tr> <td>10:55</td>  <td>Morning break</td> </tr>
        <tr> <td>11:05</td>  <td>Introduction to High-Performance Computing</td> </tr>
        <tr> <td>11:55</td>  <td>2nd Morning break</td> </tr>
        <tr> <td>12:05</td>  <td>Introduction to High-Performance Computing (Continued)</td> </tr>
        <tr> <td>12:55</td>  <td>Wrap-up</td> </tr>
        <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
    <div class="col-md-4">
    <h3>Day 3</h3>
    <table class="table table-striped">
        <tr> <td>10:00</td>  <td>Introduction to High-Performance Computing (Continued)</td> </tr>
        <tr> <td>10:55</td>  <td>Morning break</td> </tr>
        <tr> <td>11:05</td>  <td>Introduction to High-Performance Computing (Continued)</td> </tr>
        <tr> <td>11:55</td>  <td>2nd Morning break</td> </tr>
        <tr> <td>12:05</td>  <td>Hands-on Exercise</td> </tr>
        <tr> <td>12:55</td>  <td>Wrap-up</td> </tr>
        <tr> <td>12:58</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr>
        <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
